html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-color: #000;
}

body {
  font-family: "Helvetica";
  color: #fff;
  text-align: center;
}

a,
a:hover,
a:focus,
a:visited {
  color: #fff;
  outline: 0;
}

h1 {
  font-size: 65px;
  line-height: 1.2em;
  padding: 20px 0;
}

h2 {
  font-weight: 300;
  text-shadow: 0 0 8px #000;
}

img {
  max-width: 90%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  background-image: url("../images/fanart.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

.container:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url("../images/fanart-small.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100%;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.content {
  padding: 50px 20px 30px;
}

.download {
  margin: 0 auto;
  max-width: 900px;

  ul {
    display: inline-block;
    float: left;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  li {
    color: #fff;
    float: left;
    list-style-type: none;
    width: 100%;

    ul {
      display: block;
      float: none;
      padding: 0;
      width: auto;

      li {
        float: none;
        font-size: 18px;
        text-shadow: 0 0 3px #000;
        width: auto;

        span {
          font-size: 50px;
        }
      }
    }
  }
}

@media all and (max-width: 900px) {
  .download {
    ul {
      li {
        width: 100%;
        margin-bottom: 1em;
      }
    }
  }
}

@media all and (max-width: 450px) {
  .download {
    ul {
      width: 100%;
    }
  }
}

.source {
  float: left;
  margin-top: 3em;
  width: 100%;

  span {
    font-size: 2em;
  }
  p {
    font-size: 16px;
  }
}

.donate {
  float: left;
  margin-top: 1em;
  width: 100%;
}

.torguard {
  float: left;
  margin-top: 2em;
  width: 100%;
}
