
if is_page() && page.title == '404 Not Found'
  .container.clearfix
    .content.clearfix
      include _404
else
  .container.clearfix
    .content.clearfix
      h1
        img(src="images/title.png" title="Quasar Burst - Multi-provider add-on for Quasar")

      h2
        span A burst of providers

      section.download.clearfix
        ul
          li
            ul
              li
                a(href="https://burst.surge.sh/release/script.quasar.burst-#{config.version}.zip")
                  span.icon-download
                  div
                    | All platforms

      section.source.clearfix
        a(href="https://bitbucket.org/scakemyer/script.quasar.burst")
          span.icon-bitbucket

        div
          a(href="https://bitbucket.org/scakemyer/script.quasar.burst") source code
        div
          a(href="https://quasar-burst.readthedocs.io") documentation

      section.donate.clearfix
        p
          | Please donate with Bitcoin to 19JQ8bCFaQYLHo1SqgjsWsMLAykD2rvukS
        img(src="images/19JQ8bCFaQYLHo1SqgjsWsMLAykD2rvukS.png" width="128" height="128")

      div.clearfix
