doctype html
html(lang='en-us')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" href= theme.favicon)
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/fontello/css/fontello.css")
    title #{page.title ? page.title + ' - ' + config.title : config.title + (config.subtitle ? (' - ' + config.subtitle) : '')}
  body
    include _index
